// Bootstrap brand color customization
$brand-primary: $ewelists-blue !default;
$brand-info: $ewelists-yellow !default;
$brand-success: $green !default;
$brand-danger: $red !default;
$brand-warning: $orange !default;
$brand-rose: $pink !default;
